.container-info{
    padding: 15% 35%;
}
#header{
    color: rgb(9, 1, 44);
}
.addbtn{
    width: 50%;
	border: none;
	cursor: pointer;
	margin-right: 20px;
    background-color: #160ca0;
    color: rgb(247, 247, 247);
    font-size: 20px;
    align-items: center;
    border-radius: 15px;
}
#service_name{
   /*padding-bottom: 20px;*/
   margin-bottom: 10px;
   font-size: 15px;
   
}
label{
    margin-bottom: 20px;
    font-size: 26px;
    color: rgb(0, 0, 0);
}