@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.container-info{
    padding: 10%;
    padding-left: 40%;
    padding-right: 60%;
    font-family: "Poppins", sans-serif;
    

}
#header{
    color: rgb(9, 1, 44);
}
.addbtn{
    width: 50%;
    padding-top: 2px;
    padding-bottom: 2px;
	border: none;
	cursor: pointer;
    background-color: #15237e;
    color: white;
    font-size: 20px;
    align-items: center;
    border-radius: 30px;
}
#service_name{
   /*padding-bottom: 20px;*/
   margin-bottom: 100px;
   font-size: 150px;
   
}
label{
    margin-bottom: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.wage {
    margin-top: 100px;
}