.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 100px;
    padding-top: 20px;
    font-size: 18px;
}
.col-2 img{
    max-width: 100%;
    width: 30%;
    padding-top: 20px;
    padding-left: 200px;
}
