.account-page{
	padding: 50px 0;
	
}
.form-container{
	background: #fff;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	margin-top: 20px;
	box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	overflow: hidden;
}
.form-btn{
	display: inline-block;
	font-size: medium;
}
#loginpage{
	margin-right: 20px;
}
#regpage{
	margin-left: 20px;
}
.form-container form{
	max-width: 300px;
	padding:20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
}
form input{
	width: 270px;
	height: 30px;
	margin-right: 20px;
	margin-bottom: 10px;
	padding: 10px;
	/*border: 1px solid #ccc;*/
}
form .btn{
	width: 50%;
	border: none;
	cursor: pointer;
	margin-right: 20px;
	background-color: aqua;
	font-size: medium;
}
form .btn:focus{
	outline: none;
	
}
#LoginForm{
	left: -300px;
}
#RegForm{
	left: 0;
}
#indicator{
	width: 50px;
	border: none;
	/*color: brown;*/
	height: 3px;
	margin-top: 8px;
	transform: translateX(50px);
	transition: transform 1s;
}
